<?xml version="1.0" encoding="UTF-8"?>
<plist xmlns="http://www.apple.com/DTDs/PropertyList-1.0.dtd" version="1.0">
   <array>
      <array>
         <integer>131072</integer>
         <integer>131073</integer>
         <integer>131074</integer>
         <integer>131075</integer>
         <integer>131088</integer>
         <integer>131090</integer>
         <integer>131091</integer>
         <integer>131094</integer>
         <integer>131095</integer>
         <integer>131096</integer>
         <integer>131328</integer>
         <integer>131330</integer>
      </array>
      <array>
         <string>00020000</string>
         <string>00020001</string>
         <string>00020002</string>
         <string>00020003</string>
         <string>00020010</string>
         <string>00020012</string>
         <string>00020013</string>
         <string>00020016</string>
         <string>00020017</string>
         <string>00020018</string>
         <string>00020100</string>
         <string>00020102</string>
      </array>
      <array>
         <string>File Meta Information Group Length</string>
         <string>File Meta Information Version</string>
         <string>Media Storage SOP Class UID</string>
         <string>Media Storage SOP Instance UID</string>
         <string>Transfer Syntax UID</string>
         <string>Implementation Class UID</string>
         <string>Implementation Version Name</string>
         <string>Source Application Entity Title</string>
         <string>Sending Application Entity Title</string>
         <string>Receiving Application Entity Title</string>
         <string>Private Information Creator UID</string>
         <string>Private Information</string>
      </array>
      <array>
         <string>File​Meta​Information​Group​Length</string>
         <string>File​Meta​Information​Version</string>
         <string>Media​Storage​SOP​Class​UID</string>
         <string>Media​Storage​SOP​Instance​UID</string>
         <string>Transfer​Syntax​UID</string>
         <string>Implementation​Class​UID</string>
         <string>Implementation​Version​Name</string>
         <string>Source​Application​Entity​Title</string>
         <string>Sending​Application​Entity​Title</string>
         <string>Receiving​Application​Entity​Title</string>
         <string>Private​Information​Creator​UID</string>
         <string>Private​Information</string>
      </array>
      <array>
         <string>UL</string>
         <string>OB</string>
         <string>UI</string>
         <string>UI</string>
         <string>UI</string>
         <string>UI</string>
         <string>SH</string>
         <string>AE</string>
         <string>AE</string>
         <string>AE</string>
         <string>UI</string>
         <string>OB</string>
      </array>
      <array>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
      </array>
      <array>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
      </array>
   </array>
</plist>
