<?xml version="1.0" encoding="UTF-8"?>
<plist xmlns="http://www.apple.com/DTDs/PropertyList-1.0.dtd" version="1.0">
   <array>
      <array>
         <string>1.2.840.10008.9.1</string>
         <string>1.2.840.10008.9.2</string>
         <string>1.2.840.10008.9.3</string>
         <string>1.2.840.10008.9.4</string>
         <string>1.2.840.10008.9.5</string>
         <string>1.2.840.10008.9.6</string>
         <string>1.2.840.10008.9.7</string>
         <string>1.2.840.10008.9.8</string>
         <string>1.2.840.10008.9.9</string>
         <string>1.2.840.10008.9.10</string>
         <string>1.2.840.10008.9.11</string>
         <string>1.2.840.10008.9.12</string>
         <string>1.2.840.10008.9.13</string>
         <string>1.2.840.10008.9.14</string>
         <string>1.2.840.10008.9.15</string>
         <string>1.2.840.10008.9.16</string>
         <string>1.2.840.10008.9.17</string>
         <string>1.2.840.10008.9.18</string>
         <string>1.2.840.10008.9.19</string>
         <string>1.2.840.10008.9.20</string>
         <string>1.2.840.10008.9.21</string>
         <string>1.2.840.10008.9.22</string>
         <string>1.2.840.10008.9.23</string>
         <string>1.2.840.10008.9.24</string>
      </array>
      <array>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
      </array>
      <array>
         <string>Document TemplateID</string>
         <string>Section TemplateID</string>
         <string>Section TemplateID</string>
         <string>Section TemplateID</string>
         <string>Section TemplateID</string>
         <string>Section TemplateID</string>
         <string>Section TemplateID</string>
         <string>Section TemplateID</string>
         <string>Section TemplateID</string>
         <string>Section TemplateID</string>
         <string>Section TemplateID</string>
         <string>Section TemplateID</string>
         <string>Entry TemplateID</string>
         <string>Entry TemplateID</string>
         <string>Entry TemplateID</string>
         <string>Entry TemplateID</string>
         <string>Entry TemplateID</string>
         <string>Entry TemplateID</string>
         <string>Element Set TemplateID</string>
         <string>Element Set TemplateID</string>
         <string>Element Set TemplateID</string>
         <string>Element Set TemplateID</string>
         <string>Element Set TemplateID</string>
         <string>Document TemplateID</string>
      </array>
   </array>
</plist>
