<?xml version="1.0" encoding="UTF-8"?>
<plist xmlns="http://www.apple.com/DTDs/PropertyList-1.0.dtd" version="1.0">
   <array>
      <array>
         <integer>266544</integer>
         <integer>266561</integer>
         <integer>266562</integer>
         <integer>266752</integer>
         <integer>266754</integer>
         <integer>266770</integer>
         <integer>266784</integer>
         <integer>267264</integer>
         <integer>267280</integer>
         <integer>267296</integer>
         <integer>267312</integer>
         <integer>267314</integer>
         <integer>267520</integer>
         <integer>267524</integer>
         <integer>267536</integer>
         <integer>267537</integer>
         <integer>267538</integer>
         <integer>267546</integer>
         <integer>267776</integer>
      </array>
      <array>
         <string>00041130</string>
         <string>00041141</string>
         <string>00041142</string>
         <string>00041200</string>
         <string>00041202</string>
         <string>00041212</string>
         <string>00041220</string>
         <string>00041400</string>
         <string>00041410</string>
         <string>00041420</string>
         <string>00041430</string>
         <string>00041432</string>
         <string>00041500</string>
         <string>00041504</string>
         <string>00041510</string>
         <string>00041511</string>
         <string>00041512</string>
         <string>0004151A</string>
         <string>00041600</string>
      </array>
      <array>
         <string>File-set ID</string>
         <string>File-set Descriptor File ID</string>
         <string>Specific Character Set of File-set Descriptor File</string>
         <string>Offset of the First Directory Record of the Root Directory Entity</string>
         <string>Offset of the Last Directory Record of the Root Directory Entity</string>
         <string>File-set Consistency Flag</string>
         <string>Directory Record Sequence</string>
         <string>Offset of the Next Directory Record</string>
         <string>Record In-use Flag</string>
         <string>Offset of Referenced Lower-Level Directory Entity</string>
         <string>Directory Record Type</string>
         <string>Private Record UID</string>
         <string>Referenced File ID</string>
         <string>MRDR Directory Record Offset</string>
         <string>Referenced SOP Class UID in File</string>
         <string>Referenced SOP Instance UID in File</string>
         <string>Referenced Transfer Syntax UID in File</string>
         <string>Referenced Related General SOP Class UID in File</string>
         <string>Number of References</string>
      </array>
      <array>
         <string>File​Set​ID</string>
         <string>File​Set​Descriptor​File​ID</string>
         <string>Specific​Character​Set​Of​File​Set​Descriptor​File</string>
         <string>Offset​Of​The​First​Directory​Record​Of​The​Root​Directory​Entity</string>
         <string>Offset​Of​The​Last​Directory​Record​Of​The​Root​Directory​Entity</string>
         <string>File​Set​Consistency​Flag</string>
         <string>Directory​Record​Sequence</string>
         <string>Offset​Of​The​Next​Directory​Record</string>
         <string>Record​In​Use​Flag</string>
         <string>Offset​Of​Referenced​Lower​Level​Directory​Entity</string>
         <string>Directory​Record​Type</string>
         <string>Private​Record​UID</string>
         <string>Referenced​File​ID</string>
         <string>MRDR​Directory​Record​Offset</string>
         <string>Referenced​SOP​Class​UID​In​File</string>
         <string>Referenced​SOP​Instance​UID​In​File</string>
         <string>Referenced​Transfer​Syntax​UID​In​File</string>
         <string>Referenced​Related​General​SOP​Class​UID​In​File</string>
         <string>Number​Of​References</string>
      </array>
      <array>
         <string>CS</string>
         <string>CS</string>
         <string>CS</string>
         <string>UL</string>
         <string>UL</string>
         <string>US</string>
         <string>SQ</string>
         <string>UL</string>
         <string>US</string>
         <string>UL</string>
         <string>CS</string>
         <string>UI</string>
         <string>CS</string>
         <string>UL</string>
         <string>UI</string>
         <string>UI</string>
         <string>UI</string>
         <string>UI</string>
         <string>UL</string>
      </array>
      <array>
         <string>1</string>
         <string>1-8</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1-8</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1</string>
         <string>1-n</string>
         <string>1</string>
      </array>
      <array>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string/>
         <string>RET</string>
         <string/>
         <string/>
         <string/>
         <string/>
         <string>RET</string>
      </array>
   </array>
</plist>
