<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dicm2jsonbinref.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>dicm2mdbx.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>dicm2xml.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>dicmstructdump.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A8097B82BC8C6260042CAC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8097F82BC90A370042CAC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A80996C2BD0A5DA0042CAC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ACCC9E32BBDC40A00670A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
